<div class="h-full pattern">
  <div class="container flex items-center justify-center h-full">
    <div class="-mt-20 text-center md:max-w-xl">
      <h1 i18n class="mb-4">Identify your <span class="text-xbox">Xbox</span> revision</h1>
      <form [formGroup]="identifyForm">
        <label class="block">
          Manufacturing Date
          <input formControlName="manufdate" class="block w-full mt-1 form-input" placeholder="YYYY-MM-DD"
            [ngClass]="{ 'border-danger-600': identifyForm.get('manufdate').dirty && identifyForm.get('manufdate').errors, 'border-success-600': identifyForm.get('manufdate').dirty && !identifyForm.get('manufdate').errors }">
          <div *ngIf="identifyForm.get('manufdate').dirty && identifyForm.get('manufdate').errors"
            class="text-danger-600">
            <div *ngIf="identifyForm.get('manufdate').errors.required">Manufacturing date is required</div>
            <div *ngIf="identifyForm.get('manufdate').errors.pattern">Date must be in format YYYY-MM-DD</div>
          </div>
        </label>
        <label class="block">
          Hardware Serial Number
          <input formControlName="hwsn" class="block w-full mt-1 form-input" placeholder="xxxxxx xxxx"
            [ngClass]="{ 'border-danger-600': identifyForm.get('hwsn').dirty && identifyForm.get('hwsn').errors, 'border-success-600': identifyForm.get('hwsn').dirty && !identifyForm.get('hwsn').errors }">
          <div *ngIf="identifyForm.get('hwsn').dirty && identifyForm.get('hwsn').errors" class="text-danger-600">
            <div *ngIf="identifyForm.get('hwsn').errors.required">Serial number is required</div>
            <div *ngIf="identifyForm.get('hwsn').errors.pattern">Serial number must be 12 digits</div>
          </div>
        </label>

        <div class="mt-4">
          Video Chip Verification
          <div class="mt-2">
            <label class="inline-flex items-center">
              <input formControlName="videochip" type="radio" class="form-radio" name="videochip" value="conexant">
              <span class="ml-2">Conexant</span>
            </label>
            <label class="inline-flex items-center ml-6">
              <input formControlName="videochip" type="radio" class="form-radio" name="videochip" value="focus">
              <span class="ml-2">Focus</span>
            </label>
            <label class="inline-flex items-center ml-6">
              <input formControlName="videochip" type="radio" class="form-radio" name="videochip" value="xcalibur">
              <span class="ml-2">Xcalibur</span>
            </label>
            <label class="inline-flex items-center ml-6">
              <input formControlName="videochip" type="radio" class="form-radio" name="videochip" value="unknown">
              <span class="ml-2">Unknown</span>
            </label>
          </div>
        </div>

        <label class="block mt-4">
          Xbox BIOS Version Number
          <select formControlName="biosv" class="block w-full mt-1 form-select">
            <option value="unknown">Unknown</option>
            <option>3944</option>
            <option>4034</option>
            <option>4036</option>
            <option>4627</option>
            <option>4817</option>
            <option>4972</option>
            <option>5101</option>
            <option>5713</option>
            <option>5838</option>
          </select>
        </label>
      </form>
      <ng-container *ngIf="hasResult">
        <h1 i18n class="mb-4">Results</h1>
        <span class="mb-4 text-danger-600">
          <p *ngIf="manufacturingGuess">Manufacturing date suggests: {{manufacturingGuess}}</p>
          <p *ngIf="videoChipGuess">Video chip suggests: {{videoChipGuess}}</p>
          <p *ngIf="biosVersionGuess">BIOS version suggests: {{biosVersionGuess}}</p>
          <p *ngIf="factoryGuess">SN suggests factory: {{factoryGuess}} ({{factoryName}})</p>
        </span>
        <ng-container *ngIf="!hasError">
          <span class="text-warning-600" *ngIf="possibleRevisions.length > 1">
            <p>It looks like your <span class="text-xbox">Xbox</span> is one of the following revisions:
              {{possibleRevisions.join(', ')}}</p>
          </span>
          <span class="text-success-600" *ngIf="possibleRevisions.length == 1">
            <p>It looks like your <span class="text-xbox">Xbox</span> is a v{{possibleRevisions}}</p>
          </span>
          <span class="text-success-600" *ngIf="!possibleRevisions.includes('1.6')">Good news your <span
              class="text-xbox">Xbox</span> is not v1.6, TSOP away!</span>
        </ng-container>
        <ng-container *ngIf="hasError">
          <span class="text-danger-600">
            <p>There is a mismatch between {{mismatch.join(', ')}} - unable to determine revision :(</p>
          </span>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
